<a href="{{routes.root_url}}" data-id='#nt_menu_canvas' class="00000000 push_side push-menu-btn {{push_menu}} lh__1 flex al_center">
    <svg xmlns="http://www.w3.org/2000/svg" width="28" height="29" viewBox="0 0 28 29" fill="none">
    <rect width="28" height="28" transform="translate(0 0.373047)" fill="#0A1229"/>
    <path d="M4.66797 6.20703H18.668V8.54036H4.66797V6.20703Z" fill="white"/>
    <path d="M4.66797 13.207H23.3346V15.5404H4.66797V13.207Z" fill="white"/>
    <path d="M4.66797 20.207H18.668V22.5404H4.66797V20.207Z" fill="white"/>
    </svg>
    {% comment %}<svg xmlns="http://www.w3.org/2000/svg" width="30" height="16" viewBox="0 0 30 16"><rect width="20" height="2"></rect><rect y="7" width="30" height="2"></rect><rect y="14" width="25" height="2"></rect></svg>{% endcomment %}
    </a>