.bg-blue{
    background: #0A1229 !important;
}
.color-white{
    color: #fff !important;
}
.gap-20{
    gap:20px;
}
#ntheader .my-account {
    padding-left: 15px;
}
#ntheader .my-account .push_side{
    color: #fff;
    padding: 5px 20px;
    background: #0A1229;
}
.custom_search.frm_search_ac .search_header__input:not([type=submit]):not([type=checkbox]){
    border-radius: 10px;
    background: unset;
    border: 1px solid #0A1229;
    font-size: 16px;
    color: #0A2749;
}
.container-border{
    border-top: 1px solid #D9D9D9;
    border-right: 1px solid #D9D9D9;
    border-bottom: 1px solid #D9D9D9;
    border-left: none;
    padding: 30px; 
    display: flex;
    justify-content: center;
}
.container-border:first-child{
    border-left: 1px solid #D9D9D9;
}
/* banner shoadow */
.SlideshowWrapper .slideshow__slide .item__position::after{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(90deg, #092B54 0%, rgba(10, 39, 73, 0) 49.85%);
    z-index: 1;
    pointer-events: none;
}
/* banner shoadow */
/* accordian */
.tab-heading {
    font-size: 18px;
    font-weight: 700;
    line-height: 31.2px;
    letter-spacing: 0.05em;
}
.type_faq .sp-tab-content{
    font-size: 14px;
    font-weight: 500;
    line-height: 23.4px;
    letter-spacing: 0.05em;
    border-top: 1px solid #D9D9D9 !important;
}
.tab-heading .nav_link_icon{
    border: 1px solid #000000;
}
/* accordian */
/* Menu  */
.nt_menu li a{
    text-transform: uppercase;
}
/* Menu  */
.type_banner_collection  .se_t4_bg {
    background-size: auto;
}
.text-content{
    font-size: 20px;
    font-weight: 400;
    line-height: 31.2px;
    letter-spacing: 0.05em;
    text-align: left;    
    color: #000000;
}
.type_faq  .background-size-auto{
   background-size: auto; 
}
/* announce text marquee */
.announce-text{
    margin: 0 20px;
}
/* announce text marquee */
/* text marquee */
.clsheadtitle{
    font-size: 40px;
    font-weight: 600;
    line-height: 52px;
    letter-spacing: 0.05em;
    text-align: left;
}
.globalp{
    width: 100%;
    overflow: hidden;
}
.d-flex-b{
    display: flex;
    justify-content: space-between;
}
.gward a  img{
    width: 190px;
    max-width: 190px;
}
.main-marq{
    z-index: 999; 
    padding: 11px 0px;
}
 .clsheadtitle  img{
    margin-right:10px;
    width:30px;
    object-fit: cover;
    height: 30px;    
}
/* text marquee */
/* Testimonial */
.quote_slide .quote_texts {
    font-size: 18px;
    font-weight: 500;
    line-height: 23.4px;
    letter-spacing: 0.05em;
    text-align: left;
    color: #000000;
}
.quote_slide  .quote_author{
    font-size: 20px;
    font-weight: 500;
    line-height: 26px;
    letter-spacing: 0.05em;
    color: #000000;
}
.quote_producttitle{
    font-size: 20px;
    font-weight: 600;
    line-height: 26px;
    letter-spacing: 0.05em;
    color: #000000;
}
.quote_productvendor{
    font-size: 16px;
    font-weight: 500;
    line-height: 20.8px;
    letter-spacing: 0.05em;
    color: #CAA45D;
}
.w-25{
    width: 25%;
}
.w-75{
    width: 75%;
}
.quotes_des_4 .quote_col{
    border: 10px solid #F6F5F3;
    background:#E9E8E4;
    border-radius: 25px;
    /* border: 1px solid #D9D9D9;
    background:#D9D9D9; */
}
.quote_rating .cra2 {
    color: #BCBCBC;
}
/* Testimonial */
.shippingtext-content{
    font-size: 18px;
    font-weight: 400;
    line-height: 23.4px;
    color: #848484;
}
/* collection page */
.cat_filter .btn_filter {
    display: none;
}
.nt_filter_block .active{
    background: linear-gradient(90deg, #F9F9F9 0%, #FFFFFF 100%);
}
.container_cat .sidebar .widget:not(:first-child) {
    margin-top: 25px;
    padding-top: 25px;
    border-top: 1px solid #EDE9EB;
}
.container_cat .sidebar .widget.blockid_price {
    border-top: unset;
}
.nt-pagination {
    border: unset;
    background: #F7F8FC;
}
.page-numbers li a:hover, .page-numbers.current {
    color: #F7F8FC;
    background: #10182F;
}
.cat_shop_wrap {
    background: #F6F5F3;
    padding: 20px;
}
.product-inner {
    background-color: #FAF7F2;
    padding: 10px;
}
.page_section_heading .collection-heading{
    font-family: Ivy Mode;
    font-size: 40px;
    font-weight: 400;
    line-height: 50.64px;
    letter-spacing: 0.05em;
    text-align: center;
    color: #CAA45D;
}
.sp-breadcrumb a.dib {
    font-family: IBM Plex Sans;
    font-size: 16px;
    font-weight: 400;
    line-height: 20.8px;
    letter-spacing: 0.05em;
    text-align: center;
    text-transform: uppercase;
}
/* collection page */
@media screen and (max-width: 1024px){
    .container-border:first-child,.container-border:nth-child(2){
        border-bottom: none;
    }
    .container-border:nth-child(3){
        border-left: 1px solid #D9D9D9;
    }
}
@media screen and (max-width: 768px){
    .SlideshowWrapper .slideshow__slide .item__position::after{
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: linear-gradient(360deg, #092B54 0%, rgba(9, 43, 83, 0.71) 31.84%, rgba(10, 39, 73, 0) 65%);
        z-index: 1;
        pointer-events: none;
    }
    .clsheadtitle{
        font-size: 22px;
        line-height: 28.6px;
    }
    .button-center{
        margin: 0 auto;
    }
    .container-border:nth-child(3){
        border-bottom: none;
    }
    .container-border{
        border-left: 1px solid #D9D9D9;
    }
    .quote_slide .quote_texts,
    .quote_slide  .quote_author,
    .quote_productvendor {
        font-size: 14px;
        line-height: 18.2px;
        letter-spacing: 0.05em;        
    }
    .quote_producttitle{
        font-size: 14px;
        font-weight: 600;
        line-height: 18.2px;
        letter-spacing: 0.05em;
    }
    /* collection page */
    .page_section_heading .collection-heading{
        font-weight: 700;
    }
    .sp-breadcrumb a.dib {
        font-family: IBM Plex Sans;
        font-size: 16px;
        font-weight: 400;
        line-height: 20.8px;
        letter-spacing: 0.05em;
        text-align: center;
        text-transform: uppercase;
    }
    /* collection page */
}