.width-container {
    max-width: 1600px;
    margin: 0 auto;
    padding: 15px;
}

.align-i-center {
    align-items: center;
}
.color_gray{
    color:#777777
}
.justy_between{
    justify-content: space-between;
}


/* OFFER SECTION  */




.offer_main_box {
    display: flex;
    flex-wrap: wrap;
}

.offer_box1 {
    width: 50%;
}

.offer_box1 {
    position: relative;
    z-index: 9;
}

.offer_box2 {
    position: absolute;
    content: "";
    right: 0;
    top: 0;
    width: 55%;
}

.heading_offer {
    font-family: Ivy Mode;
    font-size: 96px;
    font-weight: 600;
    /* line-height: 60px; */
    letter-spacing: 0.04em;
    text-align: left;
    color: #fff;
}

.paragraph_offer {
    font-family: IBM Plex Sans;
    font-size: 20px;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0.05em;
    text-align: left;
    color: #fff;
    margin-bottom: 3vw;
}

.offer_button {
    padding: 10px 20px;
    color: #000;
    background-color: #fff;
    border: 0;
    font-family: IBM Plex Sans;
    font-size: 18px;
    font-weight: 600;
    letter-spacing: 0.09em;
    text-align: center;
}

.offer_content_box {
    padding: 80px 0;
}

.count_offer_box {
    display: flex;
}

.count_offer_box .count_box {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    width: 100px;
    height: 100px;
    background: #F8F8FF52;
    margin-right: 10px;
}

.count_number {
    font-family: Poppins;
    font-size: 20px;
    font-weight: 600;
    line-height: 20px;
    text-align: left;
    color: #fff;
}

.count_info {
    font-family: Poppins;
    font-size: 16px;
    font-weight: 400;
    line-height: 31px;
    text-align: left;
    color: #fff;
}






/* MEDIA QUERY  */

@media (max-width:1220px) {
    .heading_offer {
        font-size: 80px;
    }

}

@media (max-width:1024px) {
    .heading_offer {
        font-size: 72px;
    }

    .section-title {
        font-size: 64px !important;
    }
}

@media (max-width:949px) {
    .heading_offer {
        font-size: 64px;
    }
}

@media (max-width:768px) {
    .heading_offer {
        font-size: 48px;
    }

    .offer_box1 {
        width: 65%;
    }

    .count_offer_box .count_box {
        width: 80px;
        height: 80px;
    }

    .offer_content_box {
        padding: 50px 0;
    }
}

@media (max-width:879px) {

    .count_offer_box .count_box {
        width: 90px;
        height: 90px;
    }
}

@media (max-width:576px) {

    .heading_offer {
        font-size: 24px;
    }

    .offer_box1 {
        width: 70%;
    }

    .count_number {
        font-size: 16px;
    }

    .paragraph_offer {
        font-size: 16px;
    }

    .count_info {
        font-size: 10px;
    }

    .count_offer_box .count_box {
        width: 70px;
        height: 70px;
    }

    .offer_button {
        font-size: 14px;
    }

    .offer_content_box {
        padding: 40px 0;
    }

    .section-title {
        font-size: 40px !important;
    }
}

@media (max-width:499px) {
    .offer_box1 {
        width: 100%;
    }
}

/* THEME PROPERTY CHANGES */

.product-inner {
    background-color: #FAF7F2;
    padding: 20px;
}

.product-title .cd {
    font-family: IBM Plex Sans !important;
    font-size: 16px !important;
    font-weight: 700 !important;
    color: #000 !important;
}
.nt_pr h3.product-title{
    height: 50px;
    overflow: hidden;
}
.section-title {
    font-family: Ivy Mode !important;
    font-size: 64px;
    font-weight: 600;
    color: #0A1229;
}

.product-info .price {
    font-family: IBM Plex Sans !important;
    font-size: 14px !important;
    font-weight: 600 !important;
    color: #CAA45D !important;
}

.cat_grid_item__content {
    padding: 10px !important;
    background: #fff !important;
}

.positionremove {
    position: relative !important;
    bottom: 0 !important;
}

.positionremove .cat_grid_item__title {
    font-family: IBM Plex Sans !important;
    font-size: 18px !important;
    font-weight: 600 !important;
    color: #0A1229 !important;
    /* line-height: 31.2px; */
    /* letter-spacing: 0.05em; */
    /* text-align: center; */

}

.cat_design_5 .cat_grid_item__overlay {
    margin-bottom: 5px !important;
}

.nt_se_collection_list_XqDyYF {
    background-size: contain;
    background-position: center center;
}

.testimonial_custom .flickity-prev-next-button.previous {
    left: 93.5% !important;
    top: -20% !important;
}

.testimonial_custom .flickity-prev-next-button.next {
    top: -20% !important;
}

.shipping_custom {
    justify-content: center;
}

.template-product .product_title {
    font-family: IBM Plex Sans !important;
    font-size: 32px !important;
    font-weight: 600 !important;
    line-height: 41.6px;
    color: #282828;
}

.variations_form .shopify-payment-button {
    margin-top: 0;
}

.custom_pay {
    margin-top: 30px;
}

.template-product .shopify-payment-button__button {
    border-radius: 0 !important;
    background-color: #CAA45D;
}

.template-product .single_add_to_cart_button {
    border-radius: 0 !important;
    margin-left: 20px !important;
    background-color: #282828 !important;
}

.d-none-d {
    display: none !important;
}

.template-product .custom_wish {
    color: #282828 !important;
    border: unset;
    background: #EDE9EB;
}

.variations_form .quantity {
    border-radius: 0 !important;
    border: 1px solid #777777 !important;
    background-color: #F9F9F9 !important;
}

.custom_prform {
    display: flex;
    align-items: center;
    margin-top: 20px;
    flex-wrap: wrap;
}

.des_tab {
    border-top: 1px solid #D9D9D9;
    border-bottom: 1px solid #D9D9D9;
    padding: 5px 0;
}

.des_tab .active {
    background-color: #CAA45D !important;
    color: #fff !important;
    border: none !important;
}

.des_tab .active a {
    color: #fff !important;
    border: none !important;
}

.custom_pay {
    justify-content: space-between;
}

.tab_title_block  a {
    font-family: IBM Plex Sans !important;
    font-size: 20px !important;
    font-weight: 600 !important;
    line-height: 26px !important;
    color: #282828 !important;
}
.sp-tab-content{
    color: #282828 !important;
}
.description_box{
    display: flex;
    flex-wrap: wrap;
}
.description_box .info_box{
    display: flex;
    flex-wrap: wrap;
    width: 50%;
    margin: 10px 0;

}
.description_heading,.swatch__title{
    font-family: IBM Plex Sans;
font-size: 20px;
font-weight: 600;
line-height: 26px;
text-align: left;
color: #282828;
text-transform: capitalize;

}
.info1{
    font-family: IBM Plex Sans;
font-size: 16px;
font-weight: 600;
line-height: 20.8px;
text-align: left;
color: #777777;
min-width: 90px;
}
.info2{
    font-family: IBM Plex Sans;
    font-size: 16px;
    font-weight: 600;
    line-height: 20.8px;
    text-align: left;    
color: #282828;
}
.quantity_head{
    margin-right:20px;
    font-family: IBM Plex Sans;
font-size: 20px;
font-weight: 600;
line-height: 26px;
text-align: left;
color: #282828;
}
.price_varies del{
    font-family: IBM Plex Sans;
font-size: 24px;
font-weight: 600;
line-height: 31.2px;
text-align: left;
color: #777777;
}
.price_varies ins{
    font-family: IBM Plex Sans;
    font-size: 24px;
    font-weight: 700;
    line-height: 31.2px;
    text-align: left;
    color: #282828;
    margin-right: 10px;
}
.sku {
    font-family: IBM Plex Sans;
font-size: 20px;
font-weight: 600;
line-height: 26px;
text-align: left;
color: #282828;
}
.sku_wrapper {
    font-family: IBM Plex Sans;
font-size: 20px;
font-weight: 600;
line-height: 26px;
text-align: left;
color: #282828;
}

.matching_collection{
    padding: 30px 0;
}
.priceoff {
	color: #C02727;
	margin-left: 6px;
	font-family: Montserrat Alternates;
	font-size: 16px;
	font-weight: 700;
	line-height: 24.38px;
	text-align: left;
}
.cmy_20{
    margin: 20px 0;
}
.description_main{
    margin-top: 15px ;
}
.variations_button {
    width: 100% ;
}

.quote_col .w-75{
    padding-left: 15px;
}

/* MEDIA QUERY */

@media (max-width:1440px) {
    .testimonial_custom .flickity-prev-next-button.previous {
        left: 93% !important;
    }
}

@media (max-width:1367px) {
    .testimonial_custom .flickity-prev-next-button.previous {
        left: 92.5% !important;
    }
}

@media (max-width:1306px) {
    .color_gray{
        color:#282828;
    }
    .description_box .info_box{
        width: 100%;
    }
}
@media (max-width:1300px) {
    .testimonial_custom .flickity-prev-next-button.previous {
        left: 92% !important;
    }
}

@media (max-width:1200px) {
    .testimonial_custom .flickity-prev-next-button.previous {
        left: 91.5% !important;
    }
}

@media (max-width:1100px) {
    .testimonial_custom .flickity-prev-next-button.previous {
        left: 90.5% !important;
    }
}

@media (max-width:1024px) {
    .testimonial_custom .flickity-prev-next-button.previous {
        left: 90% !important;
    }

    .template-product .single_add_to_cart_button {
        margin-left: 0 !important;
    }

    .d-none-d {
        display: block !important;
    }

    .d-none-m {
        display: none !important;
    }

    .shopify-payment-button {
        display: block !important;
        width: 100%;
    }
}

@media (max-width:991px) {
    .testimonial_custom .flickity-prev-next-button.previous {
        left: 89.5% !important;
    }


}

@media (max-width:939px) {
    .testimonial_custom .flickity-prev-next-button.previous {
        left: 88.5% !important;
    }
}

@media (max-width:859px) {
    .testimonial_custom .flickity-prev-next-button.previous {
        left: 87.5% !important;
    }
}

@media (max-width:768px) {
    .testimonial_custom .flickity-prev-next-button.previous {
        left: 86.5% !important;
    }
}

@media (max-width: 767px) {

    .testimonial_custom .flickity-prev-next-button.previous {
        left: 43% !important;
        top: 105% !important;
    }

    .testimonial_custom .flickity-prev-next-button.next {
        right: 43% !important;
        top: 105% !important;
    }

    .img_order_class1 {
        order: 1;
    }

    .img_order_class2 {
        order: 2;
    }
       /* FOOETR  */

.widget_footer .footer-contact .db{
    text-align: center !important;
  }
}

@media (max-width: 649px) {

    .testimonial_custom .flickity-prev-next-button.previous {
        left: 42% !important;
    }

    .testimonial_custom .flickity-prev-next-button.next {
        right: 42% !important;
    }

}

@media (max-width: 576px) {

    .testimonial_custom .flickity-prev-next-button.previous {
        left: 41% !important;
    }

    .testimonial_custom .flickity-prev-next-button.next {
        right: 41% !important;
    }
    .product-title .cd{
            font-size: 14px;
    }
 
}

@media (max-width: 499px) {

    .testimonial_custom .flickity-prev-next-button.previous {
        left: 39% !important;
    }

    .testimonial_custom .flickity-prev-next-button.next {
        right: 39% !important;
    }

}

@media (max-width: 425px) {

    .testimonial_custom .flickity-prev-next-button.previous {
        left: 38% !important;
    }

    .testimonial_custom .flickity-prev-next-button.next {
        right: 38% !important;
    }

}

@media (max-width: 375px) {

    .testimonial_custom .flickity-prev-next-button.previous {
        left: 37% !important;
    }

    .testimonial_custom .flickity-prev-next-button.next {
        right: 37% !important;
    }
    .product-info .price {
        font-size: 10px !important;
    }
}