.width-container {
    max-width: 1600px;
    margin: 0 auto;
    padding: 15px;
}


/* OFFER SECTION  */




.offer_main_box {
    display: flex;
    flex-wrap: wrap;
}

.offer_box1 {
    width: 50%;
}

.offer_box1 {
    position: relative;
    z-index: 9;
}

.offer_box2 {
    position: absolute;
    content: "";
    right: 0;
    top: 0;
    width: 55%;
}

.heading_offer {
    font-family: Ivy Mode;
    font-size: 96px;
    font-weight: 600;
    /* line-height: 60px; */
    letter-spacing: 0.04em;
    text-align: left;
    color: #fff;
}

.paragraph_offer {
    font-family: IBM Plex Sans;
    font-size: 20px;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0.05em;
    text-align: left;
    color: #fff;
    margin-bottom: 3vw;
}

.offer_button {
    padding: 10px 20px;
    color: #000;
    background-color: #fff;
    border: 0;
    font-family: IBM Plex Sans;
    font-size: 18px;
    font-weight: 600;
    letter-spacing: 0.09em;
    text-align: center;
}

.offer_content_box {
    padding: 80px 0;
}

.count_offer_box {
    display: flex;
}

.count_offer_box .count_box {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    width: 100px;
    height: 100px;
    background: #F8F8FF52;
    margin-right: 10px;
}

.count_number {
    font-family: Poppins;
    font-size: 20px;
    font-weight: 600;
    line-height: 20px;
    text-align: left;
    color: #fff;
}

.count_info {
    font-family: Poppins;
    font-size: 16px;
    font-weight: 400;
    line-height: 31px;
    text-align: left;
    color: #fff;
}






/* MEDIA QUERY  */

@media (max-width:1220px) {
    .heading_offer {
        font-size: 80px;
    }
   
}

@media (max-width:1024px) {
    .heading_offer {
        font-size: 72px;
    }
    .section-title{
        font-size: 64px  !important;
    }
}

@media (max-width:949px) {
    .heading_offer {
        font-size: 64px;
    }
}

@media (max-width:768px) {
    .heading_offer {
        font-size: 48px;
    }

    .offer_box1 {
        width: 65%;
    }

    .count_offer_box .count_box {
        width: 80px;
        height: 80px;
    }

    .offer_content_box {
        padding: 50px 0;
    }
}

@media (max-width:879px) {

    .count_offer_box .count_box {
        width: 90px;
        height: 90px;
    }
}

@media (max-width:576px) {

    .heading_offer {
        font-size: 24px;
    }

    .offer_box1 {
        width: 70%;
    }

    .count_number {
        font-size: 16px;
    }

    .paragraph_offer {
        font-size: 16px;
    }

    .count_info {
        font-size: 10px;
    }

    .count_offer_box .count_box {
        width: 70px;
        height: 70px;
    }

    .offer_button {
        font-size: 14px;
    }

    .offer_content_box {
        padding: 40px 0;
    }
    .section-title{
        font-size: 40px  !important;
    }
}

@media (max-width:499px) {
    .offer_box1 {
        width: 100%;
    }
}

/* THEME PROPERTY CHANGES */

.product-inner {
    background-color: #FAF7F2;
    padding: 20px;
}

.product-title  .cd{
    font-family: IBM Plex Sans !important;
    font-size: 16px !important;
    font-weight: 700 !important;
    color: #000 !important ;
}
.section-title{
    font-family: Ivy Mode !important;
    font-size: 64px;
    font-weight: 600;
    color: #0A1229;
}
.product-info .price {
    font-family: IBM Plex Sans !important;
font-size: 14px !important;
font-weight: 600 !important;
color: #CAA45D !important;
}

.cat_grid_item__content {
    padding: 10px !important;
    background: #fff !important;
}
.positionremove{
    position: relative !important;
 bottom: 0 !important;
}
.positionremove .cat_grid_item__title {
    font-family: IBM Plex Sans !important;
font-size: 18px !important;
font-weight: 600 !important;
color: #0A1229 !important;
/* line-height: 31.2px; */
/* letter-spacing: 0.05em; */
/* text-align: center; */

}
.cat_design_5 .cat_grid_item__overlay{
    margin-bottom: 5px !important;
}
.nt_se_collection_list_XqDyYF {
    background-size: contain;
    background-position: center center;
}

.testimonial_custom .flickity-prev-next-button.previous {
    left: 93.5% !important;
    top: -20% !important;
}
.flickity-prev-next-button.next {
    top: -20% !important;
}

.shipping_custom{
    justify-content: center;
}
@media (max-width:1440px) {
    .testimonial_custom .flickity-prev-next-button.previous {
        left: 93% !important;
    }
}
@media (max-width:1367px) {
    .testimonial_custom .flickity-prev-next-button.previous {
        left: 92.5% !important;
    }
}
@media (max-width:1300px) {
    .testimonial_custom .flickity-prev-next-button.previous {
        left: 92% !important;
    }
}
@media (max-width:1200px) {
    .testimonial_custom .flickity-prev-next-button.previous {
        left: 91.5% !important;
    }
}
@media (max-width:1100px) {
    .testimonial_custom .flickity-prev-next-button.previous {
        left: 90.5% !important;
    }
}
@media (max-width:1024px) {
    .testimonial_custom .flickity-prev-next-button.previous {
        left: 90% !important;
    }
}
@media (max-width:991px) {
    .testimonial_custom .flickity-prev-next-button.previous {
        left: 89.5% !important;
    }
}
@media (max-width:939px) {
    .testimonial_custom .flickity-prev-next-button.previous {
        left: 88.5% !important;
    }
}
@media (max-width:859px) {
    .testimonial_custom .flickity-prev-next-button.previous {
        left: 87.5% !important;
    }
}
@media (max-width:768px) {
    .testimonial_custom .flickity-prev-next-button.previous {
        left: 86.5% !important;
    }
}
@media (max-width: 767px) {
    
    .testimonial_custom .flickity-prev-next-button.previous {
        left: 43% !important;
        top: 105% !important;
    }
    .flickity-prev-next-button.next {
        right: 43% !important;
        top: 105% !important;
    }
    .img_order_class1{
        order: 1;
    }
    .img_order_class2{
        order: 2;
    }
}
@media (max-width: 649px) {
    
    .testimonial_custom .flickity-prev-next-button.previous {
        left: 42% !important;
    }
    .flickity-prev-next-button.next {
        right: 42% !important;
    }

}
@media (max-width: 576px) {
    
    .testimonial_custom .flickity-prev-next-button.previous {
        left: 41% !important;
    }
    .flickity-prev-next-button.next {
        right: 41% !important;
    }

}
@media (max-width: 499px) {
    
    .testimonial_custom .flickity-prev-next-button.previous {
        left: 39% !important;
    }
    .flickity-prev-next-button.next {
        right: 39% !important;
    }

}
@media (max-width: 425px) {
    
    .testimonial_custom .flickity-prev-next-button.previous {
        left: 38% !important;
    }
    .flickity-prev-next-button.next {
        right: 38% !important;
    }

}
@media (max-width: 375px) {
    
    .testimonial_custom .flickity-prev-next-button.previous {
        left: 37% !important;
    }
    .flickity-prev-next-button.next {
        right: 37% !important;
    }

}