<div class="{{ page.template_suffix }}">
{%- section 'pages_heading' -%}
{%- section 'image_text' -%}
{%- section 'image_text1' -%}
{%- section 'image_text2' -%}
</div>
<div class="container mt__60 mb__60">{{ page.content }}</div>